services:
  gateway:
    image: ghcr.io/openconext/openconext-basecontainers/${GATEWAY_PHP_IMAGE:-php72-apache2-node14-composer2:latest}
    volumes:
      - ${GATEWAY_CODE_PATH}:/var/www/html
    environment:
      - APP_ENV=dev
