---
services:
  engine:
    image: ghcr.io/openconext/openconext-basecontainers/${ENGINE_PHP_IMAGE:-php72-apache2-node14-composer2:latest}
    volumes:
      - ${ENGINE_CODE_PATH}:/var/www/html
      - ./engine/appconf.conf:/etc/apache2/sites-enabled/appconf.conf
      - ./engine/parameters.yml:/var/www/html/app/config/parameters.yml
    environment:
      - APP_ENV=${APP_ENV:-dev}
      # - SYMFONY_ENV=${APP_ENV:-dev}
      - APP_DEBUG=1
