#ENGINE_PHP_IMAGE=php82-apache2-node20-composer2:latest
#PROFILE_PHP_IMAGE=php82-apache2-node20-composer2:latest
#SPDASHBOARD_PHP_IMAGE=php82-apache2-node20-composer2:latest
#USERLIFECYCLE_PHP_IMAGE=php82-apache2-node20-composer2:latest
