---
services:
  haproxy:
    image: ghcr.io/openconext/openconext-basecontainers/haproxy28:latest
    ports:
      - 80:80
      - 443:443
    networks:
      coreconextdev:
        aliases:
          - engine.dev.openconext.local
          - engine-api.dev.openconext.local
          - profile.dev.openconext.local
          - userlifecycle.dev.openconext.local
          - manage.dev.openconext.local
          - connect.dev.openconext.local
          - voot.dev.openconext.local
          - pdp.dev.openconext.local
          - aa.dev.openconext.local
          - teams.dev.openconext.local
          - spdashboard.dev.openconext.local
          - mujina-idp.dev.openconext.local
          - invite.dev.openconext.local
          - sbs.dev.openconext.local
    hostname: haproxy.docker

  mariadb:
    image: mariadb:10.6
    environment:
      MYSQL_ROOT_PASSWORD: secret
    networks:
      coreconextdev:
    volumes:
      - ./dbschema:/docker-entrypoint-initdb.d
      - openconext_mariadb:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 5s
      retries: 10
    hostname: mariadb.docker
    ports:
      - 3306:3306

  mongo:
    image: bitnami/mongodb:7.0
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: secret
      MONGODB_ROOT_PASSWORD: secret
      MONGODB_REPLICA_SET_NAME: openconext
      MONGODB_REPLICA_SET_MODE: primary
      MONGODB_REPLICA_SET_KEY: secretsecret
      MONGODB_ADVERTISED_HOSTNAME: mongodb
    volumes:
      - ./mongo/:/docker-entrypoint-initdb.d/
      - openconext_mongodb:/bitnami/mongodb
    healthcheck:
      test:
        [
          "CMD",
          "mongosh",
          "-u",
          "managerw",
          "-p",
          "secret",
          "--eval",
          "db.stats().ok",
          "mongodb://127.0.0.1/manage",
        ]
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 20s
    networks:
      coreconextdev:
    hostname: mongodb

  engine:
    image: ghcr.io/openconext/openconext-engineblock/openconext-engineblock:prod
    volumes:
      - ./:/config
      - ./engine/parameters.yml:/var/www/html/app/config/parameters.yml
    networks:
      coreconextdev:
    healthcheck:
      test: ["CMD", "curl", "--fail", "-s", "http://localhost/health"]
      timeout: 5s
      retries: 10
    hostname: engine.docker
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      mariadb:
        condition: service_healthy

  profile:
    image: ghcr.io/openconext/openconext-profile/profile:prod
    environment:
      APP_ENV: prod
    volumes:
      - ./:/config
    networks:
      coreconextdev:
    hostname: profile.docker

  mujina-idp:
    image: ghcr.io/openconext/mujina/mujina-idp:8.0.12
    volumes:
      - ./:/config
    networks:
      coreconextdev:
    command: "--spring.config.location=/config/mujina/"
    hostname: mujina.docker

  managegui:
    image: ghcr.io/openconext/openconext-manage/manage-gui:7.4.9
    environment:
      HTTPD_CSP: ""
      HTTPD_SERVERNAME: "manage.dev.openconext.local"
      OPENCONEXT_INSTANCENAME: "OpenConext dev"
      OPENCONEXT_ENGINE_LOGOUT_URL: "https://engine.dev.openconext.local/logout"
      OPENCONEXT_HELP_EMAIL: "support@openconext.org"
      SHIB_ENTITYID: "https://manage.dev.openconext.local/shibboleth"
      SHIB_REMOTE_ENTITYID: "https://engine.dev.openconext.local/authentication/idp/metadata"
      SHIB_REMOTE_METADATA: "https://engine.dev.openconext.local/authentication/idp/metadata"
    volumes:
      - ./:/config
    networks:
      coreconextdev:
    extra_hosts:
      - "host.docker.internal:host-gateway"
    hostname: managegui.docker
    depends_on:
      engine:
        condition: service_healthy

  manageserver:
    image: ghcr.io/openconext/openconext-manage/manage-server:7.4.9
    environment:
      USE_SYSTEM_CA_CERTS: true
    volumes:
      - ./manage/:/config/
      - ./haproxy/haproxy.crt:/certificates/haproxy.crt
      - ./cacert/__cacert_entrypoint.sh:/__cacert_entrypoint.sh
    networks:
      coreconextdev:
    entrypoint: /__cacert_entrypoint.sh
    command: java -jar app.jar --spring.profiles.active=devconf  --spring.config.location=/config/
    hostname: manageserver.docker
    working_dir: /
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "-no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:8080/internal/health",
        ]
      interval: 10s
      timeout: 10s
      retries: 6
      start_period: 10s
    depends_on:
      mongo:
        condition: service_healthy

  oidcng:
    image: ghcr.io/openconext/openconext-oidcng/oidcng:6.1.14
    networks:
      coreconextdev:
    volumes:
      - ./oidcng/:/config/
      - ./haproxy/haproxy.crt:/certificates/haproxy.crt
    entrypoint: /__cacert_entrypoint.sh
    command: "java -jar app.jar --spring.profiles.active=devconf"
    hostname: oidcng.docker
    working_dir: /
    depends_on:
      mongo:
        condition: service_healthy
    profiles:
      - "oidc"
      - "teams"
      - "extras"

  oidcplaygroundgui:
    image: ghcr.io/openconext/openconext-oidc-playground/oidc-playground-gui:3.0.1
    networks:
      coreconextdev:
    hostname: oidcplagroundgui.docker
    profiles:
      - "oidc"
      - "teams"
      - "extras"

  oidcplaygroundserver:
    image: ghcr.io/openconext/openconext-oidc-playground/oidc-playground-server:3.0.1
    environment:
      USE_SYSTEM_CA_CERTS: true
    volumes:
      - ./haproxy/haproxy.crt:/certificates/haproxy.crt
      - ./cacert/__cacert_entrypoint.sh:/__cacert_entrypoint.sh
    networks:
      coreconextdev:
    entrypoint: /__cacert_entrypoint.sh
    command: "java -jar app.jar --spring.profiles.active=devconf"
    hostname: oidcserver.docker
    working_dir: /
    profiles:
      - "oidc"
      - "teams"
      - "extras"

  teamsgui:
    image: ghcr.io/openconext/openconext-teams-ng/teams-gui:9.3.1
    volumes:
      - ./:/config
    environment:
      HTTPD_CSP: ""
      HTTPD_SERVERNAME: "teams.dev.openconext.local"
      OPENCONEXT_INSTANCENAME: "OpenConext dev"
      OPENCONEXT_ENGINE_LOGOUT_URL: "https://engine.dev.openconext.local/logout"
      OPENCONEXT_HELP_EMAIL: "support@openconext.org"
      SHIB_ENTITYID: "https://teams.dev.openconext.local/shibboleth"
      SHIB_REMOTE_ENTITYID: "https://engine.dev.openconext.local/authentication/idp/metadata"
      SHIB_REMOTE_METADATA: "https://engine.dev.openconext.local/authentication/idp/metadata"
    networks:
      coreconextdev:
    hostname: teamsgui.docker
    depends_on:
      engine:
        condition: service_healthy
      mariadb:
        condition: service_healthy
    profiles:
      - "teams"
      - "extras"

  teamsserver:
    image: ghcr.io/openconext/openconext-teams-ng/teams-server:9.3.1
    environment:
      USE_SYSTEM_CA_CERTS: true
    volumes:
      - ./haproxy/haproxy.crt:/certificates/haproxy.crt
      - ./cacert/__cacert_entrypoint.sh:/__cacert_entrypoint.sh
    networks:
      coreconextdev:
    entrypoint: /__cacert_entrypoint.sh
    command: "java -jar app.jar --spring.profiles.active=devconf"
    hostname: teamsserver.docker
    working_dir: /
    profiles:
      - "teams"
      - "extras"

  inviteserver:
    image: ghcr.io/openconext/openconext-invite/inviteserver:snapshot
    environment:
      USE_SYSTEM_CA_CERTS: true
    volumes:
      - ./haproxy/haproxy.crt:/certificates/haproxy.crt
      - ./cacert/__cacert_entrypoint.sh:/__cacert_entrypoint.sh
    networks:
      coreconextdev:
    entrypoint: /__cacert_entrypoint.sh
    command: "java -jar app.jar --spring.profiles.active=devconf"
    hostname: inviteserver.docker
    working_dir: /
    profiles:
      - "php"
      - "teams"
      - "extras"

  inviteclient:
    image: ghcr.io/openconext/openconext-invite/inviteclient:0.0.23
    volumes:
      - ./:/config
    environment:
      HTTPD_CSP: ""
      HTTPD_SERVERNAME: "invite.dev.openconext.local"
    networks:
      coreconextdev:
    hostname: inviteclient.docker
    depends_on:
      engine:
        condition: service_healthy
      mariadb:
        condition: service_healthy
    profiles:
      - "extras"
      - "teams"

  invitewelcome:
    image: ghcr.io/openconext/openconext-invite/invitewelcome:0.0.23
    volumes:
      - ./:/config
    environment:
      HTTPD_CSP: ""
      HTTPD_SERVERNAME: "invite.dev.openconext.local"
    networks:
      coreconextdev:
    hostname: inviteclient.docker
    depends_on:
      engine:
        condition: service_healthy
      mariadb:
        condition: service_healthy
    profiles:
      - "extras"
      - "teams"

  voot:
    image: ghcr.io/openconext/openconext-voot/voot:6.2.0
    environment:
      USE_SYSTEM_CA_CERTS: true
    networks:
      coreconextdev:
    volumes:
      - ./haproxy/haproxy.crt:/certificates/haproxy.crt
      - ./cacert/__cacert_entrypoint.sh:/__cacert_entrypoint.sh
    entrypoint: /__cacert_entrypoint.sh
    command: "java -jar app.jar --spring.profiles.active=devconf"
    hostname: voot.docker
    working_dir: /
    profiles:
      - "teams"
      - "extras"
  aa:
    image: ghcr.io/openconext/openconext-attribute-aggregation/aa-server:3.2.0
    environment:
      USE_SYSTEM_CA_CERTS: true
    networks:
      coreconextdev:
    volumes:
      - ./haproxy/haproxy.crt:/certificates/haproxy.crt
      - ./cacert/__cacert_entrypoint.sh:/__cacert_entrypoint.sh
    entrypoint: /__cacert_entrypoint.sh
    command: "java -jar app.jar --spring.profiles.active=devconf"
    hostname: aa.docker
    working_dir: /
    profiles:
      - "teams"
      - "extras"
      - "php"

  pdpserver:
    image: ghcr.io/openconext/openconext-pdp/pdp-server:5.1.0
    environment:
      USE_SYSTEM_CA_CERTS: true
    networks:
      coreconextdev:
    volumes:
      - ./haproxy/haproxy.crt:/certificates/haproxy.crt
      - ./pdp/application.properties:/application.properties
      - ./cacert/__cacert_entrypoint.sh:/__cacert_entrypoint.sh
    entrypoint: /__cacert_entrypoint.sh
    command: "java -jar app.jar --spring.profiles.active=devconf"
    hostname: pdpserver.docker
    working_dir: /
    profiles:
      - "extras"
      - "teams"

  pdpgui:
    image: ghcr.io/openconext/openconext-pdp/pdp-gui:5.1.0
    volumes:
      - ./:/config
    environment:
      HTTPD_CSP: ""
      HTTPD_SERVERNAME: "pdp.dev.openconext.local"
      OPENCONEXT_INSTANCENAME: "OpenConext dev"
      OPENCONEXT_ENGINE_LOGOUT_URL: "https://engine.dev.openconext.local/logout"
      OPENCONEXT_HELP_EMAIL: "support@openconext.org"
      SHIB_ENTITYID: "https://pdp.dev.openconext.local/shibboleth"
      SHIB_REMOTE_ENTITYID: "https://engine.dev.openconext.local/authentication/idp/metadata"
      SHIB_REMOTE_METADATA: "https://engine.dev.openconext.local/authentication/idp/metadata"
    networks:
      coreconextdev:
    hostname: pdpgui.docker
    depends_on:
      engine:
        condition: service_healthy
      mariadb:
        condition: service_healthy
    profiles:
      - "extras"
      - "teams"

  userlifecycle:
    image: ghcr.io/openconext/openconext-user-lifecycle/user-lifecycle:prod
    environment:
      APP_ENV: prod
    volumes:
      - ./:/config
      - ./userlifecycle/parameters.yml:/var/www/html/config/legacy/parameters.yml
    networks:
      coreconextdev:
    hostname: userlifecycle.docker
    depends_on:
      engine:
        condition: service_healthy
      mariadb:
        condition: service_healthy
    profiles:
      - "extras"
      - "php"

  mailcatcher:
    image: sj26/mailcatcher:latest
    ports:
      - 1080:1080
    command: "--ip 0.0.0.0 --smtp-port 25"
    networks:
      coreconextdev:
    hostname: mailcatcher.docker

  redis:
    image: "redis"
    healthcheck:
      test: ["CMD", "redis-cli","ping"]
      timeout: 5s
      retries: 10
    networks:
      coreconextdev:
    hostname: redis.docker
    profiles:
      - "sbs"

  # This is apache RP
  #   client -> docroot
  #   api    -> sbs-server:8080
  sbs:
    image: ghcr.io/surfscz/sram-sbs-client:main
    networks:
      coreconextdev:
    hostname: sbs.docker
    depends_on:
      sbs-server:
        condition: service_healthy
    profiles:
      - "sbs"

  sbs-server:
    image: ghcr.io/surfscz/sram-sbs-server:main
    environment:
      TESTING: 1
      PROFILE: "local"
      ALLOW_MOCK_USER_API: 1
    volumes:
      - ./sbs/config:/opt/sbs/config
    networks:
      coreconextdev:
    healthcheck:
      test: ["CMD", "curl", "--fail", "-s", "http://localhost:8080/health"]
      timeout: 5s
      retries: 10
    hostname: sbs-server.docker
    depends_on:
      redis:
        condition: service_healthy
      mariadb:
        condition: service_healthy
    profiles:
      - "sbs"

networks:
  coreconextdev:
    driver: bridge

volumes:
  openconext_mariadb:
  openconext_mongodb:
