---
services:

  haproxy:
    image: ghcr.io/openconext/openconext-basecontainers/haproxy28:latest
    ports:
      - 80:80
      - 443:443
    volumes:
      - ../core/haproxy/haproxy.pem:/usr/local/etc/haproxy/haproxy.pem
      - ../core/haproxy/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
      - ../core/haproxy/backends.map:/usr/local/etc/haproxy/backends.map:ro
    networks:
      openconextdev:
        aliases:
          - ra.dev.openconext.local
          - ssp.dev.openconext.local
          - selfservice.dev.openconext.local
          - middleware.dev.openconext.local
          - gateway.dev.openconext.local
          - demogssp.dev.openconext.local
          - webauthn.dev.openconext.local
          - tiqr.dev.openconext.local
          - azuremfa.dev.openconext.local
          - mailcatcher.dev.openconext.local
    hostname: haproxy.docker

  mariadb:
    image: mariadb:10.11
    environment:
      MYSQL_ROOT_PASSWORD: secret
    ports:
      - 3306:3306
    networks:
      openconextdev:
    volumes:
      - ${PWD}/dbschema:/docker-entrypoint-initdb.d
      - stepup_mariadb:/var/lib/mysql
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 30s
      start_interval: 1s
      interval: 10s
      timeout: 1s
      retries: 10
    hostname: mariadb.docker

  behat:
    image: ghcr.io/openconext/openconext-devconf/openconext-devconf:test
    environment:
      - APP_ENV=${APP_ENV:-prod}
    networks:
      openconextdev:
    volumes:
      - ${PWD}/:/config
      - /var/run/docker.sock:/var/run/docker.sock
    profiles:
      - "smoketest"

  chrome:
    image: alpeware/chrome-headless-trunk
    ports:
      - 9222:9222
    environment:
      - CHROME_OPTS=--ignore-certificate-errors --window-size=1920,1080 --ignore-ssl-errors
    volumes:
      - /tmp/chromedata/:/data
    networks:
      openconextdev:
        aliases:
          - chrome.dev.openconext.local
    profiles:
      - "smoketest"

  webauthn:
    image: ghcr.io/openconext/stepup-webauthn/stepup-webauthn:${STEPUP_VERSION:-prod}
    ports:
      - 8080:8080
    environment:
      - APP_ENV=${APP_ENV:-prod}
    volumes:
      - ${PWD}/:/config
      - ${PWD}/webauthn/blob.jwt:/var/www/html/config/openconext/mds/blob.jwt
      - ${PWD}/webauthn/root.crt:/var/www/html/config/openconext/mds/root.crt
    networks:
      openconextdev:
    extra_hosts:
      - "host.docker.internal:host-gateway"
    hostname: webauthn.docker
    depends_on:
      mariadb:
        condition: service_healthy

  ssp:
    image: ghcr.io/openconext/openconext-devssp/devssp:latest
    networks:
      openconextdev:
    volumes:
      - ${PWD}/ssp:/var/www/simplesaml/config/cert/
    hostname: ssp.docker


  middleware:
    image: ghcr.io/openconext/stepup-middleware/stepup-middleware:${STEPUP_VERSION:-prod}
    environment:
      - APP_ENV=${APP_ENV:-prod}
    networks:
      openconextdev:
    volumes:
      - ${PWD}/:/config
    extra_hosts:
      - "host.docker.internal:host-gateway"
    hostname: middleware.docker
    depends_on:
      mariadb:
        condition: service_healthy

  gateway:
    image: ghcr.io/openconext/stepup-gateway/stepup-gateway:${STEPUP_VERSION:-prod}
    environment:
      - APP_ENV=${APP_ENV:-prod}
    networks:
      openconextdev:
    volumes:
      - ${PWD}/:/config
      - ${PWD}/gateway/surfnet_yubikey.yaml:/var/www/html/config/packages/surfnet_yubikey.yaml
    extra_hosts:
      - "host.docker.internal:host-gateway"
    hostname: gateway.docker
    depends_on:
      mariadb:
        condition: service_healthy

  ra:
    image: ghcr.io/openconext/stepup-ra/stepup-ra:${STEPUP_VERSION:-prod}
    environment:
      - APP_ENV=${APP_ENV:-prod}
    networks:
      openconextdev:
    volumes:
      - ${PWD}/:/config
    extra_hosts:
      - "host.docker.internal:host-gateway"
    hostname: ra.docker
    depends_on:
      mariadb:
        condition: service_healthy

  selfservice:
    image: ghcr.io/openconext/stepup-selfservice/stepup-selfservice:${STEPUP_VERSION:-prod}
    environment:
      - APP_ENV=${APP_ENV:-prod}
    networks:
      openconextdev:
    volumes:
      - ${PWD}/:/config
    extra_hosts:
      - "host.docker.internal:host-gateway"
    hostname: selfservice.docker
    depends_on:
      mariadb:
        condition: service_healthy

  demogssp:
    image: ghcr.io/openconext/stepup-gssp-example/stepup-gssp-example:${STEPUP_VERSION:-prod}
    environment:
      - APP_ENV=${APP_ENV:-prod}
    networks:
      openconextdev:
    volumes:
      - ${PWD}/:/config
    extra_hosts:
      - "host.docker.internal:host-gateway"
    hostname: demogssp.docker
    depends_on:
      mariadb:
        condition: service_healthy

  tiqr:
    image: ghcr.io/openconext/stepup-tiqr/stepup-tiqr:prod
    environment:
      - APP_ENV=${APP_ENV:-prod}
    networks:
      openconextdev:
    volumes:
      - ${PWD}/:/config
    extra_hosts:
      - "host.docker.internal:host-gateway"
    hostname: tiqr.docker
    depends_on:
      mariadb:
        condition: service_healthy

  azuremfa:
    image: ghcr.io/openconext/stepup-azuremfa/stepup-azuremfa:${STEPUP_VERSION:-prod}
    environment:
      - APP_ENV=${APP_ENV:-prod}
    networks:
      openconextdev:
    volumes:
      - ${PWD}/:/config
    extra_hosts:
      - "host.docker.internal:host-gateway"
    hostname: azuremfa.docker
    depends_on:
      mariadb:
        condition: service_healthy

  mailcatcher:
    image: sj26/mailcatcher:latest
    ports:
      - 1080:1080
    command:
      '--ip 0.0.0.0 --smtp-port 25'
    networks:
      openconextdev:
    hostname: mailcatcher.docker

networks:
  openconextdev:
    driver: bridge

volumes:
  stepup_mariadb:
