---
name: stepup-behat
on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      DOCKER_COMPOSE: docker compose --profile smoketest -f docker-compose.yml
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Get Composer Cache Directory
        id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"
      - uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-
      - name: Init environment
        run: |
          cd stepup
          cp .env.test .env
          cp gateway/surfnet_yubikey.yaml.dist gateway/surfnet_yubikey.yaml
          ${DOCKER_COMPOSE} up -d
      - name: Install composer dependencies on the Behat container
        run: |
          cd stepup
          ${DOCKER_COMPOSE} exec behat composer install --ignore-platform-reqs -n
      - name: Sleep for 10 seconds
        run: sleep 10s
      - name: Run Behat tests
        run: |
          cd stepup
          ${DOCKER_COMPOSE} exec behat ./behat
      - name: Output logs on failure
        if: failure()
        run: |
          cd stepup
          ${DOCKER_COMPOSE} logs
